﻿@page
@model Exam12019.Pages.Auth.LoginModel
@{
}

<form method="post">
    <div>
        <label asp-for="Form.UserName"></label>
        <input asp-for="Form.UserName" />
        @Html.ValidationMessageFor(Q => Q.Form.UserName)
    </div>
    <div>
        <label asp-for="Form.Password"></label>
        <input asp-for="Form.Password" type="password"/>
        @Html.ValidationMessageFor(Q => Q.Form.Password)
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>