﻿@page "{IDFind:Guid}"
@model Exam12019.Pages.InsertReservationModel
@{
}
<form method="post">
    <div>
        <label asp-for="FormReservation.Name"></label>
        <input asp-for="FormReservation.Name" />
        <span asp-validation-for="FormReservation.Name"></span>
    </div>
    <div>
        <label asp-for="FormReservation.Email"></label>
        <input type="email" asp-for="FormReservation.Email" />
        <span  asp-validation-for="FormReservation.Email"></span>
    </div>
    <div>
        <label asp-for="FormReservation.Time"></label>
        <input type="datetime-local" asp-for="FormReservation.Time" />
        <span asp-validation-for="FormReservation.Time"></span>
    </div>
    <div>
        <button type="submit">Reserve</button>
    </div>
</form>