﻿@page "{IDFind:Guid}"
@model Exam12019.Pages.ReservationSearchModel
@{
}



<table>
    <thead>
        <tr>
            <th>ID Reservation</th>
            <th>Name</th>
            <th>Email</th>
            <th>Restaurant's Name</th>
            <th>Restaurant's Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {

            if (item.ID == Model.IDFind)
            {
                <br />
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            @foreach (var resto in Model.Resev)
            {
                if (resto.ID == item.RestaurantID)
                {
                    <td>@resto.RestaurantName</td>
                    <td>@resto.RestaurantAddress</td>
                }
            }
        }


    }

        </tbody>
    </table>