﻿@page 
@model Exam12019.Pages.ReservationPageModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <label asp-for="IDFind"></label>
    <input asp-for="IDFind"/>
    <button type="submit">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var resev in Model.Resev)
        {
        <tr>
            <td>@resev.RestaurantName</td>
            <td>@resev.RestaurantAddress</td>
            <td><a href="@Url.Page("/InsertReservation", new { IDFind = resev.ID })">Insert Reservation</a></td>
        </tr>
        }
        
    </tbody>
</table>