﻿@page
@model Exam12019.Pages.Pages.CreateModel
@{
}
<form method="post">

    <p>@Model.SuccessMessage</p>
    <div>
        <label asp-for="FormCreate.CreateNama"></label>
        <input asp-for="FormCreate.CreateNama" />
        <span asp-validation-for="FormCreate.CreateNama"></span>
    </div>
    <div>
        <label asp-for="FormCreate.CreateAddress"></label>
        <input asp-for="FormCreate.CreateAddress" />
        <span asp-validation-for="FormCreate.CreateAddress"></span>
    </div>
    <div>
        <button type="submit">Insert</button>
    </div>

</form>