﻿@page "{IDFind:Guid}"
@model Exam12019.Pages.Pages.DeleteModel
@{
}
<h1>Confirm Delete Product</h1>
<p>
    <a href="@Url.Page("./Index")">Return to index</a>
</p>

<form method="post">
    <p>Apakah anda yakin untuk hapus @Model.RestaurantName? </p>
    <button type="submit">Ya</button>
</form>