﻿@page "{IDFind:Guid}"
@model Exam12019.Pages.Pages.EditModel
@{
}
<p>
    <a href="@Url.Page("./Index")">Return to home</a>
</p>

<form method="post">
    <div>
        <label asp-for="FormRestaurant.UpdateName"></label>
        <input asp-for="FormRestaurant.UpdateName" />
        <span asp-validation-for="FormRestaurant.UpdateName"></span>
    </div>
    <div>
        <label asp-for="FormRestaurant.UpdateAddress"></label>
        <input asp-for="FormRestaurant.UpdateAddress" />
        <span asp-validation-for="FormRestaurant.UpdateAddress"></span>
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>