﻿@page
@model Exam12019.Pages.Pages.IndexModel
@{
}
<a href="@Url.Page("/auth/logout")">Logout Ah</a>
<table>
    <thead>
        <tr>
            <th>ID Restaurant</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var resto in Model.Resto)
        {
            <tr>
                <td>@resto.ID</td>
                <td>@resto.RestaurantName</td>
                <td>@resto.RestaurantAddress</td>
                <td>
                    <div>
                        <a href="@Url.Page("/Crud/Edit", new { IDFind = resto.ID })">Edit Restaurant</a>
                    </div>
                    <div>
                        <a href="@Url.Page("/Crud/Delete", new { IDFind = resto.ID })">Delete Restaurant</a>
                    </div>
                </td>
            </tr>
        }
        <div>
            <a href="./Create">Insert Restaurant</a>
        </div>
    </tbody>
</table>